{{> title}}

{{!-- <form action="/" method="post"> --}}
    {{!-- <button class="btn btn-dark mb-4" id="get-ratings">Get ratings</button> --}}
    <input id="movie-ids" name="movie-ids" type="hidden" value="{{movieIds}}">
{{!-- </form> --}}

<div class="form-inline flex-column-reverse flex-sm-row mb-3">
    <input class="form-control flex-grow-1 mr-sm-1" id="search" name="search" type="search"
        placeholder="Search" autocomplete="off" aria-label="Search movies">
    <select class="custom-select mb-2 mb-sm-0" id="genre" name="genre">
        <option selected="selected" disabled="disabled">Select Genre</option>
        <option value="all">All</option>
        {{#each genres}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
</div>

<div class="list-group mb-5 d-none" id="found-movies">
</div>

<div class="row my-5">
{{#each movies}}
    {{> movie}}
{{/each}}
</div>
