<div class="col offset-md-3 col-md-6 my-5">
    <form action="/users/login" method="post" class="mb-3">
        <div class="form-group">
            <label for="userEmail">Email address</label>
            <input type="email" name="email" class="form-control" id="userEmail" aria-describedby="emailHelp"
                required="true" {{#if email}} value="{{email}}" {{/if}}>
        </div>

        <div class="form-group mb-4">
            <label for="userPassword">Password</label>
            <input type="password" name="password" class="form-control" id="userPassword" required="true"
                {{#if password}} value="{{password}}" {{/if}}>
        </div>

        {{#if errorMessage}}
        <div class="my-4 text-center">
            <p class="text-danger">{{errorMessage}}</p>
        </div>
        {{/if}}

        <div class="my-3 text-center">
            <button type="submit" class="btn btn-dark">Login</button>
        </div>

    </form>

    <div class="my-3 text-center">
        <a class="text-dark" href="/users/signup">Need an account? Sign up here.</a>
    </div>
</div>